<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <PingPong />
  </div>
</template>

<script>
import PingPong from './PingPong'
export default {
  name: 'IndexPage',
  data () {
    return {
      msg: 'Vue Canvas Example'
    }
  },
  components: {
    PingPong
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
