<template>
  <div>
    <canvas id="myCanvas" width="480" height="320"></canvas>
  </div>
</template>

<script>
export default {
  mounted () {
    this.canvas = document.getElementById('myCanvas')
    this.ctx = this.canvas.getContext('2d')
    this.ball.position.x = this.canvas.width / 2
    this.ball.position.y = this.canvas.height - 30
    this.paddle.position.x = (this.canvas.width - this.paddle.width) / 2

    for (let c = 0; c < this.brick.columnCount; c++) {
      this.bricks[c] = []
      for (let r = 0; r < this.brick.rowCount; r++) {
        this.bricks[c][r] = {
          x: (c * (this.brick.width + this.brick.padding)) + this.brick.offsetLeft,
          y: (r * (this.brick.height + this.brick.padding)) + this.brick.offsetTop,
          status: true
        }
      }
    }

    document.addEventListener('keydown', this.keyDownHandler, false)
    document.addEventListener('keyup', this.keyUpHandler, false)
    document.addEventListener('mousemove', this.mouseMoveHandler, false)
    this.draw()
  },
  data () {
    return {
      canvas: null,
      ctx: null,
      requestId: null,
      score: 0,
      lives: 3,
      ball: {
        position: {
          x: null,
          y: null,
          dx: 2,
          dy: -2
        },
        radius: 10
      },
      paddle: {
        height: 10,
        width: 75,
        position: {
          x: null
        }
      },
      brick: {
        rowCount: 3,
        columnCount: 5,
        width: 75,
        height: 20,
        padding: 10,
        offsetTop: 30,
        offsetLeft: 30
      },
      bricks: [],
      control: {
        rightPressed: false,
        leftPressed: false
      }
    }
  },
  computed: {
    countBriks () {
      return this.brick.rowCount * this.brick.columnCount
    }
  },
  methods: {
    drawLives () {
      this.ctx.font = '16px Arial'
      this.ctx.fillStyle = '#0095DD'
      this.ctx.fillText('Lives: ' + this.lives, this.canvas.width - 65, 20)
    },
    drawScore () {
      this.ctx.font = '16px Arial'
      this.ctx.fillStyle = '#0095DD'
      this.ctx.fillText('Score: ' + this.score, 8, 20)
    },
    drawBricks () {
      this.bricks.forEach(row => row.forEach(b => {
        if (b.status) {
          this.ctx.beginPath()
          this.ctx.rect(b.x, b.y, this.brick.width, this.brick.height)
          this.ctx.fillStyle = '#0095DD'
          this.ctx.fill()
          this.ctx.closePath()
        }
      }))
    },
    drawPaddle () {
      this.ctx.beginPath()
      this.ctx.rect(this.paddle.position.x, this.canvas.height - this.paddle.height, this.paddle.width, this.paddle.height)
      this.ctx.fillStyle = '#0095DD'
      this.ctx.fill()
      this.ctx.closePath()
    },
    drawBall () {
      this.ctx.beginPath()
      this.ctx.arc(this.ball.position.x, this.ball.position.y, this.ball.radius, 0, Math.PI * 2)
      this.ctx.fillStyle = '#0095DD'
      this.ctx.fill()
      this.ctx.closePath()
    },
    collisionDetection () {
      this.bricks = this.bricks.map(row => row.map(b => {
        if (b.status) {
          if (this.ball.position.x > b.x && this.ball.position.x < b.x + this.brick.width && this.ball.position.y > b.y && this.ball.position.y < b.y + this.brick.height) {
            this.ball.position.dy = -this.ball.position.dy
            b.status = false
            this.score++
          }
        }
        return b
      }))
    },
    draw () {
      if (this.score === this.countBriks) {
        this.endGame('YOU WIN, CONGRATULATIONS!')
        return
      }
      if (this.ball.position.x + this.ball.position.dx > this.canvas.width - this.ball.radius || this.ball.position.x + this.ball.position.dx < this.ball.radius) {
        this.ball.position.dx = -this.ball.position.dx
      }

      if (this.ball.position.y + this.ball.position.dy < this.ball.radius) {
        this.ball.position.dy = -this.ball.position.dy
      } else if (this.ball.position.y + this.ball.position.dy > this.canvas.height - this.ball.radius) {
        if (this.ball.position.x > this.paddle.position.x && this.ball.position.x < this.paddle.position.x + this.paddle.width) {
          this.ball.position.dy = -this.ball.position.dy
        } else {
          this.lives--
          if (this.lives > 0) {
            this.ball.position.dy = -this.ball.position.dy
          } else {
            this.endGame('GAME OVER')
            return
          }
        }
      }

      if (this.control.rightPressed && this.paddle.position.x < this.canvas.width - this.paddle.width) {
        this.paddle.position.x += 7
      } else if (this.control.leftPressed && this.paddle.position.x > 0) {
        this.paddle.position.x -= 7
      }

      this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height)
      this.drawScore()
      this.drawLives()
      this.drawBricks()
      this.drawBall()
      this.drawPaddle()
      this.collisionDetection()
      this.ball.position.x += this.ball.position.dx
      this.ball.position.y += this.ball.position.dy

      this.requestId = requestAnimationFrame(this.draw)
    },

    endGame (msg) {
      cancelAnimationFrame(this.requestId)
      alert(msg)
    },
    keyDownHandler (e) {
      if (e.keyCode === 39) {
        this.control.rightPressed = true
      } else if (e.keyCode === 37) {
        this.control.leftPressed = true
      }
    },
    keyUpHandler (e) {
      if (e.keyCode === 39) {
        this.control.rightPressed = false
      } else if (e.keyCode === 37) {
        this.control.leftPressed = false
      }
    },
    mouseMoveHandler (e) {
      let relativeX = e.clientX - this.canvas.offsetLeft
      if (relativeX > 0 && relativeX < this.canvas.width) {
        this.paddle.position.x = relativeX - this.paddle.width / 2
      }
    }
  }
}

</script>

<style>
  * { padding: 0; margin: 0; }
  canvas { background: #fff; display: block; margin: 0 auto; border: 1px solid #0095DD;}
</style>
